@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    /*background: linear-gradient(#7209b7, #3f37c0);*/
    background:#000;
    /*background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);*/
    /*overflow: auto;*/
}

.contenedor h2{
    margin: 0 0 30px;
    color: aliceblue;
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Nerko One', cursive;*/

}



.contenedor{
    font-family: 'Roboto', sans-serif;
    margin: 50px auto;
    border: 10px solid;
    width: 400px; /*ancho*/
    padding: 30px;
    /*border-radius: 500px;*/
    border-width: 5px; /*tamano del borde*/
    border-image-slice: 1; /*para distribuir el borde*/


}

.border-gradient{
    border-image-source: linear-gradient(to left,#18fff8 20%,#4343f0);
}

.contenedor .elemento label{
    color: #fff;
}

.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px; /*esto es para pegar los elementos mas*/

    
}

.contenedor .elemento input[type="submit"]{
    background: #4343f0;
    border:none;
    letter-spacing: 5px; /* esto es para dar un espaciado al texto*/
    text-transform: uppercase; /*esto es para transformar en mayuscula el texto*/
    cursor: pointer;
    padding: 15px; /*altura del boton*/
    margin-top: 30px;
    transition: background, color, 300ms;
}


.contenedor .elemento input[type="submit"]:hover{
    background: white; /*#69F1A1*/
    color: black;
}


.bannerdeabajo{
    margin-top: 96px;
    height: 40px;
    width: 100%;

    /*background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);*/
    background: #fff;
}

.bannerdeabajo .texto-del-banner{
    color: #000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}




